.DS_Store
.env
.env.*
!.env.example
.Renviron

.Rhistory
.RData
.Ruserdata
.Rproj.user/

/*.Rcheck/
/*.tar.gz
/inst/doc/
/doc/
/Meta/

src/*.o
src/*.so
src/*.dll
src/*.dylib
src/*.a
src/symbols.rds
src/*.dSYM/
