useDynLib(biosyntax, .registration = TRUE, .fixes = "C_")

export(as_ansi)
export(as_html)
export(biosyntax)
export(biosyntax_engine_version)
export(biosyntax_spans)
export(supported_formats)
export(syntax_classes)

S3method(as.character,biosyntax)
S3method(as_ansi,biosyntax)
S3method(as_ansi,default)
S3method(as_html,biosyntax)
S3method(as_html,default)
S3method(biosyntax,AAString)
S3method(biosyntax,AAStringSet)
S3method(biosyntax,BString)
S3method(biosyntax,BStringSet)
S3method(biosyntax,DNAString)
S3method(biosyntax,DNAStringSet)
S3method(biosyntax,GRanges)
S3method(biosyntax,GRangesList)
S3method(biosyntax,RNAString)
S3method(biosyntax,RNAStringSet)
S3method(biosyntax,VCF)
S3method(biosyntax,XString)
S3method(biosyntax,XStringSet)
S3method(biosyntax,biosyntax)
S3method(biosyntax,character)
S3method(biosyntax,default)
S3method(print,biosyntax)
S3method(print,biosyntax_html)

S3method(knitr::knit_print,biosyntax)
S3method(knitr::knit_print,biosyntax_html)
